GDL_AI_Jam/Library/
GDL_AI_Jam/Temp/
GDL_AI_Jam/obj/
*.csproj
*.sln
GDL_AI_Jam/ProjectSettings/ProjectSettings.asset
GDL_AI_Jam/ProjectSettings/GraphicsSettings.asset
GDL_AI_Jam/GDL_AI_Jam.userprefs
GDL_AI_Jam/ProjectSettings/ProjectVersion.txt
GDL_AI_Jam/WindowsBuild/
